<ion-content>
  <ion-row>
    <ion-col size-md="10" offset-md="1">
      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-label>Location</ion-label>
            <ion-icon role="button" name="close" (click)="onCancel()" size="large"></ion-icon>
          </ion-item>
          <ion-card-title>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>