<app-page-header [content]="pageContent.header"></app-page-header>
<div class="error">{{message}}</div>
<div class="row" *ngIf="currentLocation">
  <div class="col-12 col-md-8">
    <div class="row">
      <div class="col-12 col-md-6">
        <app-rating-stars [rating]="currentLocation.rating"></app-rating-stars>
        <p>{{ currentLocation.address }}</p>
        <div class="card card-primary">
          <div class="card-block">
            <h2 class="card-title">Opening hours</h2>
            <p class="card-text" *ngFor="let time of currentLocation.openingTimes">
              {{ time.days }} :
              <span>{{time.opening? time.opening + "-" + time.closing : "Closed" }}</span>
            </p>
          </div>
        </div>
        <div class="card card-primary">
          <div class="card-block">
            <h2 class="card-title">Facilities</h2>
            <span *ngFor="let facility of currentLocation.facilities" class="badge badge-warning">
              <i class="fa fa-check"></i>
              {{facility}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 location-map">
        <div class="card card-primary">
          <div class="card-block">
            <h2 class="card-title">Location map</h2>
            <img
              src="https://maps.googleapis.com/maps/api/staticmap?center={{currentLocation.coords[1]}},{{currentLocation.coords[0]}}&zoom=17&size=400x350&sensor=false&markers={{currentLocation.coords[1]}},{{currentLocation.coords[0]}}&key={{key}}&scale=2"
              class="img-fluid rounded" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card card-primary review-card">
          <div class="card-block">
            <button (click)="currentUser?formHidden=false:navigateToLogin()"
              class="btn btn-primary float-right">{{currentUser? 'Add review' : 'Login to post review'}}</button>
            <h2 class="card-title">Customer reviews</h2>
            <div *ngIf="!formHidden && currentUser">
              <form (ngSubmit)="onSubmitReview()" #f="ngForm">
                <hr>
                <h4>Add your review</h4>
                <!-- <div class="form-group row">
                  <label for="name" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input ngModel name="name" type="text" class="form-control">
                  </div>
                </div> -->
                <div class="form-group row">
                  <label for="rating" class="col-sm-2 col-form-label">Rating</label>
                  <app-rating-stars class="col-sm-10 my-auto" (ratingChange)="onRatingSet()" [editable]="true" #rating>
                  </app-rating-stars>
                </div>
                <div class="form-group row">
                  <label for="review" class="col-sm-2 col-form-label">Review</label>
                  <div class="col-sm-10">
                    <textarea ngModel name="review" [minlength]="10" [maxlength]="100" id="review" rows="5"
                      class="form-control" required></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12">
                    <button [disabled]="!f.valid" type="submit" class="btn btn-primary float-right"
                      style="margin-left:15px">Submit
                      review</button>
                    <button (click)="formHidden=true" type="button" class="btn btn-default float-right">Cancel</button>
                  </div>
                </div>
                <hr>
              </form>
            </div>
            <div *ngFor="let review of currentLocation.reviews | ascSort" class="row review">
              <div class="col-12 no-gutters review-header">
                <app-rating-stars [rating]="review.rating"></app-rating-stars>
                <span class="reviewAuthor">{{ review.author }}</span>&nbsp;,
                <small class="reviewTimestamp">{{ review.createdOn | date : 'd MMMM yyyy'}}</small>
              </div>
              <div class="col-12">
                <p [innerHTML]="review.reviewText | htmlLineBreaks"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-sidebar class="col-12 col-md-4" [content]="currentLocation.name + pageContent.sidebar"></app-sidebar>
</div>
