<ion-header>
  <ion-toolbar>
    <ion-title>location-details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h1>Loc8r</h1>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <p *ngIf="isLoading" class="in-margin-left">waiting for location...</p>
    <p *ngIf="!isLoading && !loc" class="in-margin-left">Sorry, somthing went wrong...Please try again</p>
    <ion-row *ngIf="loc">
      <ion-col size="12" size-md="9">
        <ion-row>
          <ion-col size="12" size-md="6" class="ion-padding">
            <h4>{{loc.name}}</h4>
            <app-rating [rating]="loc.rating"></app-rating>
            <p>{{loc.address}}</p>
            <ion-card class="ion-no-margin">
              <ion-card-header>
                <ion-card-title>
                  Opening Hours
                </ion-card-title>
                <ion-card-content class="ion-no-padding ion-margin-top">
                  <div class=" ion-margin-bottom">
                    <div *ngFor="let time of loc.openingTimes">
                      <p>{{time.days}} :
                        <span color="!time.opening? danger  :dark">{{time.opening? time.opening + "-" + time.closing : "Closed" }}</span>
                      </p>
                    </div>
                  </div>
                  <ion-card class="ion-no-margin">
                    <ion-card-header>
                      <ion-card-title>
                        Facilities
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>
                        <ion-col size="12" *ngFor="let facility of loc.facilities">
                          <ion-badge color="warning" class="ion-float-left">{{facility}}</ion-badge>
                        </ion-col>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </ion-card-content>
              </ion-card-header>
            </ion-card>

          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Location
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <!-- <ion-img [src]="imgSrc" (click)="onViewLocation()">
                </ion-img> -->
                <!-- <agm-map (mapClick)="onViewLocation()"  [latitude]="loc.coords[1]" [longitude]="loc.coords[0]" [zoom]="15">
                  <agm-marker [latitude]="loc.coords[1]" [longitude]="loc.coords[0]" >
                    <agm-info-window>{{loc.name}}</agm-info-window>
                  </agm-marker>
                </agm-map> -->

              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <ion-card class="ion-padding">
              <ion-item>
                <ion-card-title>Customer reviews </ion-card-title>
                <ion-button fill="solid" slot="end" color="danger" fill="outline" (click)="formHidden = false">Add
                  Review</ion-button>
              </ion-item>
              <form class="ion-padding" *ngIf="!formHidden" (ngSubmit)="onSubmitReview()" #f="ngForm">
                <ion-title class="ion-margin-bottom">Add your review</ion-title> 
                <ion-row>
                  <ion-col size="12" size-md="2" class="ion-padding">
                    <ion-label>Name : </ion-label>
                  </ion-col>
                  <ion-col size="12" size-md="10">
                    <div class="form-div">
                      <ion-input ngModel name="name" type="text" required></ion-input> 
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" size-md="2" class="ion-padding">
                    <ion-label>Rating : </ion-label>
                  </ion-col>
                  <ion-col size="12" size-md="10">
                    <div>
                      <app-rating (ratingChange)="onRatingSet()" [editable]="true" class="formRating" #rating></app-rating>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" size-md="2" class="ion-padding">
                    <ion-label>Review : </ion-label>
                  </ion-col>
                  <ion-col size="12" size-md="10">
                    <div class="form-div">
                      <ion-textarea ngModel name="review" [minlength]="10" [maxlength]="100" placeholder="Please say something about this place (10 characters minimum)" required ></ion-textarea>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <div>
                      <ion-button [disabled]="!f.valid"  color="success = f.valid"  type="submit" class="ion-float-right ">Submit
                      </ion-button>
                      <ion-button color="medium" fill="outline" (click)="formHidden = true" class="ion-float-right">
                        Cancel</ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </form>
              <ion-card-content>
                <ion-list>
                  <ion-item class="ion-margin-bottom" *ngFor="let review of loc.reviews">
                    <div>
                      <ion-label class="ion-margin-bottom">
                        <app-rating [rating]="review.rating"></app-rating>
                        {{review.author + ", " + (review.createdOn | date:'d MMMM yyyy')}}
                      </ion-label>
                      <p>{{review.reviewText}}</p>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-md="3" class="ion-padding">
        {{sidebarContent}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>