agm-map{
    height: 250px;
    width: 100%;
    border: solid thin black;
}
ion-img{
    border: solid thin rgb(207, 207, 255);
}
.form-div{
    border: solid thin rgb(223, 223, 223) ;
    border-radius: 10px;
}
app-rating.formRating{
    font-size: 2.2em;
}
ion-progress-bar{
    z-index: 1;
}