<div class="error">{{message}}</div>
<div class="card" *ngFor="let location of locations">
  <div class="card-block">
    <h4>
      <a routerLink="/location/{{location._id}}">{{location.name}}</a>&nbsp;
      <app-rating-stars [rating]="location.rating"></app-rating-stars>
      <span class="badge badge-pill badge-default float-right">{{location.distance | distance }}</span>
    </h4>
    <p class="address">{{location.address}}</p>
    <div class="facilities">
      <span *ngFor="let facility of location.facilities" class="badge badge-warning">{{facility}}</span>
    </div>
  </div>
</div>
