extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1=pageHeader.title
      small &nbsp; #{pageHeader.strapline}
  .row
    .col-12.col-md-8
      each location in locations
        .card
          .card-block
            h4
              a(href="/location")= location.name
              small &nbsp;
              +outputRating(location.rating)
              span.badge.badge-pill.badge-default.float-right=location.distance
            p.address= location.address
              .facilities
                each facility in location.facilities
                  span.badge.badge-warning= facility
    .col-12.col-md-4
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.