<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a routerLink="" class="navbar-brand">Loc8r</a>
    <button type="button" data-toggle="collapse" data-target="#navbarMain" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item" routerLinkActive="active" *ngIf="!currentUser">
          <a routerLink="login" class="nav-link" routerLinkActive="active">Sing in</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active" *ngIf="currentUser">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{currentUser.name}}</a>
          <div class="dropdown-menu" (click)="logout()">
            <a class="dropdown-item" routerLinkActive="active">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container content">
  <router-outlet class="padding"></router-outlet>
  <footer class="page-footer font-small pt-4">
    <div class="footer-copyright text-right py-.5">
      &copy; Getting Mean - Herodav 2019
    </div>
  </footer>
</div>
