<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title color="light">
        <h1 ><a [routerLink]="['locations']">Loc8r</a> <span class="ion-margin-left"><a [routerLink]="['about']">| About</a></span> </h1>
      </ion-title>
    </ion-toolbar>
    <ion-progress-bar type="indeterminate" color="success" *ngIf="loading"></ion-progress-bar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>

  <ion-footer translucent="false">
    <p class="ion-float-right ion-margin">
      &copy; Getting MEAN - Herodav 2019
    </p>
  </ion-footer>
</ion-app>