p{
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
ion-title{
    background: #ad1d28;
}
a{
    text-decoration: none;
    color: #ffffff;
}
span{
    margin-left: 20px;
    a{
        font-size: .6em;
        font-family: cursive;
    }
    
}