<ion-header>
  <ion-toolbar>
    <ion-title> Loc8r </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h1>Loc8r</h1>
              <p>Find a place to work with wifi near you !</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <p *ngIf="!locations" class="ion-margin">Loading...</p>
    <ion-row *ngIf="locations && locations.length > 0">
      <ion-col size="12" size-md="8">
        <ion-list>
          <ion-card *ngFor="let location of locations" (click)="getId(location)" [routerLink]="['/', 'locations', location._id]">
            <ion-card-header>
              <ion-card-title class="rated">{{location.name}}
                <app-rating [rating]="location.rating"></app-rating>
                <ion-badge class="ion-float-right" mode="ios" color="danger">
                  {{location.distance | distance}}
                </ion-badge>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{location.address}}</p>
              <ion-list>
                <ion-col size="12" *ngFor="let facility of location.facilities">
                  <ion-badge color="warning" class="ion-float-left">{{facility}}</ion-badge>
                </ion-col>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="4">
        <div class="ion-margin-top">
          Looking for wifi and a seat? Loc8r helps you find places to work when out and about.
          Perhaps with coffee, cake or
          a pint? Let Loc8r help you find the place you're looking for.</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>